table {
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin: 0 auto;
}

caption {
    caption-side: bottom;
    font-size: .75em;
}

thead tr:nth-child(2) td {
    background-color: grey;
    padding: 15px;
}

thead tr:nth-child(2) td:nth-child(1) {
    background-color: black;
}

thead {
    background-color: black;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: darkgrey;
}

tbody td {
    border: 1px lightgray solid;
    padding: 15px;
}