:root {
    --background-color: #F6F0ED;
    --header-color: #7EA8BE;
    --accent-color: #28536B;
    --accent-color2: #BBB193;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    text-align: center;
}

#cards img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    border: ridge;
    border-width: 10px;
    border-color: #7EA8BE;
    border-radius: 5px;
    background-color: #28536B;
}

h1 {
    text-align: center;
}

#content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--accent-color2);
}

body {
    margin: 0;
    padding: 0;
}