@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-color: #A3C4BC;
    --header-color: #7EA8BE;
    --accent-color: #28536B;
    --text-color1: black;
    --text-color2: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

#main-home {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 25% 25% 25% 1fr;
    grid-template-rows: 1fr 500px 400px 100px 300px 300px 300px;
    color: var(--text-color2);
}

#content {
    font-family: Nunito, Inter, sans-serif;
}

header,
footer {
    background-color: var(--header-color);
    text-align: center;
    padding: 10px;
    border: inset;
    max-width: 72.5%;
    margin: 0 auto;
    color: var(--text-color1);
}

footer p {
    padding: 0px;
    text-indent: 0px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    padding-inline-start: 0px;
    padding-top: 10px;
}

nav ul.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


nav a {
    text-decoration: none;
    color: var(--text-color2);
    font-weight: bold;
    display: block;
}

nav {
    padding-bottom: 15px;
    border: inset;
    border-radius: 10px;
    background-color: var(--accent-color);
}

nav li:hover {
    background-color: var(--header-color);
}

nav a:hover {
    color: var(--text-color1);
}

.active {
    text-decoration: underline;
    color: var(--text-color2);
}

.active a:hover {
    color: var(--text-color2)
}

nav ul .active:hover {
    background-color: var(--accent-color);
}


#icon {
    width: 65px;
    height: 65px;
}

#currentEvents,
#weatherCard {
    background-color: var(--accent-color);
    border-style: outset;
    grid-column: 2/5;
    padding: 30px;
    margin-bottom: 30px;
}

#currentEvents {
    grid-row: 2;
    max-height: 400px;
}

#weatherCard {
    grid-row: 3;
    max-height: 300px;
}

.spotlight {
    border-style: ridge;
    padding: 5px;
    background-color: var(--accent-color);
    grid-column: 2/5;
    grid-row: 5;
    margin-bottom: 30px;
}

.heading {
    color: var(--text-color1);
}

.spotlight1 {
    grid-column: 2/5;
    grid-row: 5;
}

.spotlight2 {
    grid-column: 2/5;
    grid-row: 6;
}

.spotlight3 {
    grid-column: 2/5;
    grid-row: 7;
}

.hero {
    grid-column: 2/5;
    position: relative;
}

#hero-image {
    width: 100%;
    margin-top: 7px;
}


.section1,
.section2,
.section3 {
    border-style: groove;
    text-align: center;
    margin: 50px;
    background-color: var(--accent-color);
    color: var(--text-color2);
    padding: 50px;
}

.spotlight-heading {
    color: var(--text-color1);
    grid-row: 4;
    grid-column: 2/5;
}

#subfooter {
    grid-row: 8;
    grid-column: 2/5;
    color: var(--text-color1);
    font-weight: bold;
}

#menu-button {
    cursor: pointer;
    background-color: var(--accent-color);
    border-style: outset;
    color: var(--text-color2);
    padding: 12px 16px;
    font-size: 16px;
}

#menu-button:hover {
    background-color: var(--background-color);
    color: var(--text-color1);
}

#menu-button::before {
    content: "Open";
}

#menu-button.open::before {
    content: "Close";
}

#darkMode {
    position: absolute;
    top: 16px;
    right: 10px;
}

#darkMode::before {
    content: "Dark"
}

#darkMode.dark::before {
    content: "Light"
}