@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-color: #A3C4BC;
    --header-color: #7EA8BE;
    --accent-color: #28536B;
    --text-color1: black;
    --text-color2: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

#main-home {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 25% 25% 25% 1fr;
    grid-template-rows: 1fr 500px 400px 100px 300px 300px 300px;
    color: var(--text-color2);
}

#content {
    font-family: Nunito, Inter, sans-serif;
}

header,
footer {
    background-color: var(--header-color);
    text-align: center;
    padding: 10px;
    border: inset;
    max-width: 72.5%;
    margin: 0 auto;
    color: var(--text-color1);
}

footer p {
    padding: 0px;
    text-indent: 0px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    padding-inline-start: 0px;
    padding-top: 10px;
}

nav ul.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


nav a {
    text-decoration: none;
    color: var(--text-color2);
    font-weight: bold;
    display: block;
}

nav {
    padding-bottom: 15px;
    border: inset;
    border-radius: 10px;
    background-color: var(--accent-color);
}

nav li:hover {
    background-color: var(--header-color);
}

nav a:hover {
    color: var(--text-color1);
}

.active {
    text-decoration: underline;
    color: var(--text-color2);
}

.active a:hover {
    color: var(--text-color2)
}

nav ul .active:hover {
    background-color: var(--accent-color);
}


#icon {
    width: 65px;
    height: 65px;
}

#currentEvents,
#weatherCard {
    background-color: var(--accent-color);
    border-style: outset;
    grid-column: 2/5;
    padding: 30px;
    margin-bottom: 30px;
}

#currentEvents {
    grid-row: 2;
    max-height: 400px;
}

#weatherCard {
    grid-row: 3;
    max-height: 300px;
}

.spotlight {
    border-style: ridge;
    padding: 5px;
    background-color: var(--accent-color);
    grid-column: 2/5;
    grid-row: 5;
    margin-bottom: 30px;
}

.heading {
    color: var(--text-color1);
}

.spotlight1 {
    grid-column: 2/5;
    grid-row: 5;
}

.spotlight2 {
    grid-column: 2/5;
    grid-row: 6;
}

.spotlight3 {
    grid-column: 2/5;
    grid-row: 7;
}

.hero {
    grid-column: 2/5;
    position: relative;
}

#hero-image {
    width: 100%;
    margin-top: 7px;
}


.section1,
.section2,
.section3 {
    border-style: groove;
    text-align: center;
    margin: 50px;
    background-color: var(--accent-color);
    color: var(--text-color2);
    padding: 50px;
}

.spotlight-heading {
    color: var(--text-color1);
    grid-row: 4;
    grid-column: 2/5;
}

#subfooter {
    grid-row: 8;
    grid-column: 2/5;
    color: var(--text-color1);
    font-weight: bold;
}

#menu-button {
    cursor: pointer;
    background-color: var(--accent-color);
    border-style: outset;
    color: var(--text-color2);
    padding: 12px 16px;
    font-size: 16px;
}

#menu-button:hover {
    background-color: var(--background-color);
    color: var(--text-color1);
}

#menu-button::before {
    content: "Open";
}

#menu-button.open::before {
    content: "Close";
}

#darkMode {
    position: absolute;
    top: 16px;
    right: 10px;
}

#darkMode::before {
    content: "Dark"
}

#darkMode.dark::before {
    content: "Light"
}

.market-image {
    max-width: 100px;
}

.jedi-temple-image {
    max-width: 150px;
}

.spotlight-heading {
    color: var(--text-color1);
    grid-row: 4;
    grid-column: 2/5;
}

.discover-image img {
    transition: 2s;
}

.discover-image img:hover {
    box-shadow: 0 0 50px #333;
}

#discover-message {
    text-align: center;
    color: var(--text-color1);
    font-weight: bold;
}

.section1,
.section2,
.section3 {
    border-style: groove;
    text-align: center;
    margin: 50px;
    background-color: var(--accent-color);
    color: var(--text-color2);
    padding: 50px;
}

.image1,
.image2,
.image3,
.image4,
.image5,
.image6 {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 5px;
    display: block;
}

figcaption {
    text-align: center;
    color: var(--text-color1);
    font-weight: bold;
}

.weather-icon {
    max-width: 100px;
}

.market-image {
    max-width: 100px;
}

.jedi-temple-image {
    max-width: 150px;
}

.form-main fieldset {
    border: 1px solid lightgrey;
    border-radius: 6px;
    background-color: var(--accent-color);
    margin: 30px;
    padding: 30px;
}

.form-main legend {
    color: var(--text-color1);
    font-weight: bold;
    font-size: 1.25em;
    border: solid;
    background-color: var(--header-color);
}

.form-main label {
    display: block;
    padding: 7px;
    color: var(--text-color2);
}

.form-main input[type="text"],
.form-main input[type="tel"],
.form-main input[type="email"],
.form-main input[type="url"],
.form-main input[type="date"],
.form-main select,
.form-main input[type="number"],
.form-main textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 90%;
    max-width: 300px;
}

.form-main input[type="radio"],
.form-main input[type="checkbox"] {
    margin-right: 6px;
}

.form-main input[type="submit"] {
    border-radius: 7px;
    border: outset;
    background-color: #eee;
    background-image: linear-gradient(#eee, #fff);
    width: 50%;
    color: black;
    font-weight: bold;
    padding: 5px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    max-width: 300px;
}

.form-main input[type="submit"]:hover {
    box-shadow: 1px 1px 4px black;
}

.form-main input:required {
    border-right: solid 8px red;
}

.form-main input:required:valid {
    border-right: solid 8px green;
}

.thankyou-page h1,
h3 {
    text-align: center;
    color: var(--text-color1)
}

.benefits {
    padding: 30px;
}

.non-profit,
.bronze,
.silver,
.gold {
    border: outset;
    color: var(--text-color1);
    padding: 0px 20px 0px 20px;
}

/* Directory Page */

#gridView {
    display: grid;
}

#gridView section {
    border: solid;
}

#gridView.hidden {
    display: none;
}

#listView {
    display: flex;
    justify-content: center;
}

#listView.hidden {
    display: none;
}