@media screen and (min-width: 950px) {

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #main-home {
        grid-template-rows: 1fr 1fr 5% 1fr;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
    }

    .hero {
        grid-column: 2/5;
    }

    #weatherCard {
        grid-column: 4/6;
        grid-row: 2;
        margin: 35px;
        margin-bottom: 7px;
        padding: 45px;
    }

    #currentEvents {
        grid-column: 1/4;
        margin: 35px;
        padding: 20px;
    }

    .spotlight1,
    .spotlight2,
    .spotlight3 {
        border-style: ridge;
        grid-row: 4;
        margin: 10px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .spotlight1 {
        grid-column: 2;
    }

    .spotlight2 {
        grid-column: 3;
    }

    .spotlight3 {
        grid-column: 4;
    }

    .spotlight-heading {
        grid-row: 3;
        grid-column: 2/5;
        padding-bottom: 100px;
    }

    header,
    footer {
        max-width: 90%;
    }

    .heading {
        padding: 20px;
    }

    .section1,
    .section2,
    .section3 {
        grid-column: 1;
        margin-right: 5px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    #menu-button {
        display: none;
    }

    #darkMode {
        top: 22px;
        right: 62px;
    }

    .jedi-temple-image,
    .market-image {
        max-width: 150px;
    }

    .heading {
        padding: 20px;
    }

    #main-discover {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 15px 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #discover-message {
        grid-row: 1;
        grid-column: 1/2;
    }

    .section1,
    .section2,
    .section3 {
        grid-column: 1;
        margin-right: 5px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6 {
        grid-column: 2;
        padding: 0px;
    }

    .figure1 {
        grid-row: 2;
    }

    .figure2 {
        grid-row: 3;
    }

    .figure3 {
        grid-row: 4;
    }

    .figure4 {
        grid-row: 5;
    }

    .figure5 {
        grid-row: 6;
    }

    .figure6 {
        grid-row: 7;
    }

    .section1 {
        grid-row: 2/4;
    }

    .section2 {
        grid-row: 4/6
    }

    .section3 {
        grid-row: 6/8;
    }

    figcaption {
        padding: 25px;
    }

    img:hover {
        box-shadow: 0 0 50px #333;
    }

    .benefits {
        display: grid;
        grid-column: 2;
        padding: 30px;
    }

    .non-profit,
    .bronze,
    .silver,
    .gold {
        border: outset;
        color: var(--text-color1);
        padding: 0px 20px 0px 20px;
    }

    .join-page-main {
        display: grid;
        grid-template-columns: 2;
    }

    .form-main {
        grid-column: 1;
    }

    .form-main fieldset {
        margin: 10px;
        margin-top: 55px;
    }

    h2 {
        text-align: center;
        color: var(--text-color1);
    }
}