@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --accent-color: #C9E4CA;
    --dark-color: #003804;
    --accent-color2: #55828B;
    --background-color: #E1F2FE;
    --header-color: #98D2EB;
    --text-color1: black;
    --text-color2: white;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

#content {
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: merriweather, lato, sans-serif;
}

header,
footer {
    background-color: var(--header-color);
    border: ridge;
    border-width: 7px;
    border-radius: 6px;
    border-color: var(--accent-color2);
    text-align: center;
    padding: 10px;
}

#menu,
.call-to-action button {
    cursor: pointer;
    color: var(--text-color1);
    font-size: 16px;
    border-radius: 7px;
    border: outset;
    background-image: linear-gradient(#eee, #fff);
    width: 50%;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    max-width: 200px;
    padding: 5px;
}

#menu:active,
.call-to-action button:active {
    background-image: linear-gradient(#ccc, #ddd);
}


#menu::before {
    content: "Open";
}

#menu.open::before {
    content: "Close";
}

nav ul.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    background-color: var(--header-color);
}


nav ul {
    padding-inline-start: 0px;
    list-style-type: none;
    display: none;
}

nav a,
.attributions {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: 0.15s;
    font-size: 1.15em;
    color: var(--text-color1);
}

.active a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.cozumel-picture-1 {
    width: 80%;
    height: auto;
    align-self: center;
    justify-self: center;
    display: flex;
    display: block;
    transition: .4s;
    max-width: 900px;
    margin: 20px;
    padding: 10px;
    border: ridge;
    border-color: var(--accent-color2);
    border-width: 7px;
    border-radius: 5px;
    background-color: var(--accent-color);
}

.cozumel-picture-2 {
    width: 40%;
    height: auto;
    max-width: 450px;
}

.cozumel-picture-3 {
    height: auto;
    width: 70%;
    max-width: 550px;
}

#banner {
    border: dashed;
    color: var(--text-color1);
    background-color: var(--header-color);
    font-weight: bold;
    text-align: center;
    margin: 15px;
    width: 95%;
    max-width: 900px;
    justify-self: center;
}

#bannerToggle {
    float: right;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.instagram,
.facebook {
    height: auto;
    max-width: 35px;
}

.cozumel-picture-2,
.cozumel-picture-3 {
    display: flex;
    justify-self: center;
    padding: 10px;
    border: ridge;
    border-color: var(--accent-color2);
    border-width: 7px;
    border-radius: 5px;
    margin: 20px;
    background-color: var(--accent-color);
}

.rental-types p:nth-child(3),
.rental-types p:nth-child(7),
.rental-types p:nth-child(9) {
    font-weight: bold;
    text-align: center;
}

hr {
    width: 300px;
}

.rental-types,
#weather {
    margin: auto;
    width: 75%;
    text-align: left;
}

h3 {
    text-align: center;
}

#weather {
    text-align: center;
}