@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --accent-color: #C9E4CA;
    --dark-color: #003804;
    --accent-color2: #55828B;
    --background-color: #E1F2FE;
    --header-color: #98D2EB;
    --text-color1: black;
    --text-color2: white;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

#content {
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: Montserrat, 'Open Sans', sans-serif;
}

header,
footer {
    background-color: var(--header-color);
    border: ridge;
    border-width: 7px;
    border-radius: 6px;
    border-color: var(--accent-color2);
    text-align: center;
    padding: 10px;
}

footer {
    margin-top: 20px;
}

header {
    margin-bottom: 20px;
}

footer p {
    color: black;
    font-size: 1.2rem;
}

#menu,
.call-to-action .button {
    cursor: pointer;
    color: black;
    font-size: 16px;
    border-radius: 7px;
    border: outset;
    background-image: linear-gradient(#eee, #fff);
    width: 50%;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    max-width: 200px;
    padding: 5px;
    text-align: center;
}

#menu:active,
.call-to-action .button:hover {
    background-image: linear-gradient(#ddd, #eee);
}


#menu::before {
    content: "Open";
}

#menu.open::before {
    content: "Close";
}

nav ul.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    background-color: var(--header-color);
}


nav ul {
    padding-inline-start: 0px;
    list-style-type: none;
    display: none;
}

nav a,
.attributions {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: 0.15s;
    font-size: 1.15em;
    color: black;
}

.active a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.cozumel-picture-1 {
    width: 80%;
    height: auto;
    display: block;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    border: ridge;
    border-color: var(--accent-color2);
    border-width: 7px;
    border-radius: 5px;
    background-color: var(--accent-color);
}

.cozumel-picture-2 {
    width: 50%;
    height: auto;
    max-width: 250px;
}

.cozumel-picture-3 {
    height: auto;
    width: 70%;
    max-width: 400px;
}

#banner {
    border: dashed;
    color: black;
    background-color: var(--header-color);
    text-align: center;
    width: 80%;
    max-width: 900px;
    margin: 20px;
    justify-self: center;
}

#bannerToggle {
    float: right;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.instagram,
.facebook {
    height: auto;
    max-width: 35px;
}

.cozumel-picture-2,
.cozumel-picture-3 {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: ridge;
    border-color: var(--accent-color2);
    border-width: 7px;
    border-radius: 5px;
    background-color: var(--accent-color);
}

.rental-types p:nth-child(3),
.rental-types p:nth-child(7),
.rental-types p:nth-child(9) {
    font-weight: bold;
    text-align: center;
}

hr {
    width: 300px;
}

.rental-types,
#weather {
    text-align: left;
    display: block;
    margin: 20px;
    padding: 20px;
    border: ridge;
    border-color: var(--accent-color2);
    border-width: 7px;
    border-radius: 5px;
    background-color: var(--accent-color);
}

h3 {
    text-align: center;
}

#weather {
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
}

caption {
    caption-side: top;
    font-size: 1.75em;
    padding: 20px;
}

thead tr:nth-child(1) td {
    background-color: grey;
    padding: 10px;
}

thead tr:nth-child(2) td:nth-child(1) {
    background-color: black;
}

thead {
    background-color: black;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: darkgrey;
}

tbody td {
    border: 1px lightgray solid;
}

.info {
    color: var(--text-color1);
    padding: 30px;
    text-align: left;
    margin: auto;
    text-indent: 15px;
}

.scooter-image1,
.scooter-image2,
.scooter-image3 {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.scooter-images p {
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.call-to-action a:hover {
    text-decoration: none;
}

.reservations-main fieldset,
.contact-main fieldset {
    margin: 2rem 0;
    border: 2px solid lightgrey;
    border-radius: 6px;
    padding: .5rem 20%;
    margin: 20px;
}

.reservations-main legend,
.contact-main legend {
    color: var(--text-color1);
    padding: 0 .5rem;
    font-weight: bold;
}

.reservations-main label,
.reservations-main textarea,
.contact-main label,
.contact-main textarea {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
    color: var(--text-color1);
}

.reservations-main div {
    padding-top: 1rem;
    color: var(--text-color1);
    font-size: .9rem;
    font-weight: bold;
}

.reservations-main input[type="text"],
.contact-main input[type="text"],
.reservations-main input[type="tel"],
.contact-main input[type="tel"],
.reservations-main input[type="email"],
.contact-main input[type="email"],
.reservations-main input[type="date"],
.reservations-main input[type="number"],
.reservations-main textarea,
.contact-main textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
}

.reservations-main input[type="radio"],
.reservations-main input[type="checkbox"] {
    margin-right: 6px;
}

.reservations-main input[type="submit"],
.contact-main input[type="submit"] {
    border-radius: 7px;
    border: outset;
    background-color: #eee;
    background-image: linear-gradient(#eee, #fff);
    width: 50%;
    color: black;
    font-weight: bold;
    padding: 5px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    max-width: 300px;
}

.reservations-main input[type="submit"]:hover,
.contact-main input[type="submit"]:hover {
    box-shadow: 1px 1px 4px black;
}

.reservations-main input:required,
.contact-main input:required {
    border-right: solid 8px red;
}

.reservations-main input:required:valid,
.contact-main input:required:valid {
    border-right: solid 8px green;
}

.reservations-main .agreement-info {
    color: var(--text-color1);
    display: block;
    text-align: center;
    padding: 5px 50px;
    border: ridge;
    border-color: var(--accent-color2);
    border-width: 7px;
    border-radius: 5px;
    margin: 30px;
    background-color: var(--accent-color);
}

.agreement-info p {
    color: black;
}

.agreement-info h3 {
    color: black;
}

.reservations-main p {
    font-size: .9rem;
}

.main-home2 {
    background-image: url(https://wpeterashworth.github.io/wdd230/final/images/palm_leaf.webp)
}

.thanks {
    text-align: center;
}

.beach-image {
    display: block;
    margin: 0 auto;
}

iframe {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.contact-header {
    text-align: center;
}

.contact-us {
    text-align: center;
}

#darkMode {
    position: absolute;
    top: 16px;
    right: 10px;
}

#darkMode::before {
    content: "Dark"
}

#darkMode.dark::before {
    content: "Light"
}

fieldset p {
    color: var(--text-color1);
}

.contact-main {
    color: var(--text-color1);
}