@media screen and (min-width: 1100px) {
    .cozumel-picture-1:hover {
        box-shadow: 0 0 50px #333;
        transition: .4s;
    }

    .main-home {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }

    .main-home2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }

    .hero,
    #banner,
    .call-to-action {
        grid-column: 1/3;
    }

    .hero {
        grid-row: 1;
    }

    #banner {
        grid-row: 2;
    }

    .call-to-action {
        grid-row: 4;
    }

    .rental-types {
        grid-row: 5;
        grid-column: 2;
    }

    .cozumel-picture-2 {
        grid-row: 5;
        grid-column: 1;
        min-width: 350px;
    }

    #weather {
        grid-row: 6;
        grid-column: 1;
    }

    .cozumel-picture-3 {
        grid-row: 6;
        min-width: 400px;
        grid-column: 2;
    }

    hr {
        display: none;
    }

    #weather,
    .rental-types {
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .info {
        grid-row: 3;
        grid-column: 1/3;
    }

    .scooter-image1,
    .scooter-image2,
    .scooter-image3 {
        grid-row: 1;
    }

    .reservations-main fieldset,
    .contact-main fieldset {
        margin: 20px 100px;
    }
}