@media screen and (min-width: 700px) {

    .instagram,
    .facebook {
        height: auto;
        max-width: 50px;
    }

    .cozumel-picture-2 {
        max-width: 350px;
    }

    .cozumel-picture-3 {
        max-width: 500px;
    }

    .scooter-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .scooter-image1,
    .scooter-image2,
    .scooter-image3 {
        grid-row: 1;
        max-width: 200px;
    }

    .scooter-image1 {
        grid-column: 1;
    }

    .scooter-image2 {
        grid-column: 2;
    }

    .scooter-image3 {
        grid-column: 3;
    }

    table {
        max-width: 700px;
    }

    thead td {
        padding: 15px;
    }

    tbody td {
        padding: 15px;
    }

    .main-home2 {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    }

    .rental-types,
    #weather,
    .cozumel-picture-2,
    .cozumel-picture-3 {
        grid-column: 2;
    }

    .rental-types {
        grid-row: 1;
    }

    .cozumel-picture-2 {
        grid-row: 2;
    }

    #weather {
        grid-row: 3;
    }

    .cozumel-picture-3 {
        grid-row: 4;
    }

    .info {
        color: black;
        margin: 50px;
        border: ridge;
        border-color: var(--accent-color2);
        border-width: 7px;
        border-radius: 5px;
        background-color: var(--accent-color);
    }
}