@media screen and (min-width: 850px) {

    .instagram,
    .facebook {
        height: auto;
        max-width: 50px;
    }

    .rental-types,
    #weather {
        width: 60%;
    }

    .cozumel-picture-2 {
        max-width: 350px;
    }

    .cozumel-picture-3 {
        max-width: 500px;
    }

    .scooter-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .scooter-image1,
    .scooter-image2,
    .scooter-image3 {
        grid-row: 1;
        max-width: 200px;
    }

    .scooter-image1 {
        grid-column: 1;
    }

    .scooter-image2 {
        grid-column: 2;
    }

    .scooter-image3 {
        grid-column: 3;
    }

    table {
        max-width: 700px;
    }

    thead td {
        padding: 15px;
    }

    tbody td {
        padding: 15px;
    }

}