@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Open+Sans:wght@300&display=swap');
/* colors: charcoal: 28536B   Rosy Brown: C2948A    Air superiority Blue: 7EA8BE    Isabelline: F6F0ED   Khaki: BBB193 */

:root {
    --background-color: #F6F0ED;
    --header-color: #7EA8BE;
    --accent-color: #28536B;
    --accent-color2: #BBB193;
}

body {
    margin: 0;
    padding: 0;
}

#content {
    text-align: center;
    background-color: #F6F0ED;
    font-family: Montserrat, Karla, sans-serif;
}

/* #form-content {
    background-color: #F6F0ED;
    font-family: Montserrat, Karla, sans-serif;
} */

header {
    background-color: #7EA8BE;
    text-align: center;
    border-style: ridge;
    border-width: .75em;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

nav {
    background-color: #BBB193;
    border-style: solid;
    border-color: #28536B;
    border-width: .4em;
}


nav ul {
    padding-inline-start: 0px;
    list-style-type: none;
}

ul,
li,
a {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-inline-start: 0px;
    list-style-type: none;
}

img,
h1 {
    margin: 0 auto;
    padding: 10px;
}

h1 {
    padding-top: 60px;
}

nav,
a {
    text-decoration: none;
    color: black;
    font-size: 1.15em;
    cursor: pointer;
    outline: none;
    transition: 0.15s;
}

.active a {
    text-decoration: underline;

}

.active a:hover {
    color: black;
}

nav,
a:hover {
    color: #7EA8BE;
}

h2 {
    padding-top: 25px;
}

h3 {
    background-color: #7EA8BE;
    padding: 15px;
}

footer {
    border-style: outset;
    background-color: #7EA8BE;
    font-size: 1.15em;
    padding: 10px;
    border-width: .25em;
}

hr {
    margin: 20px;
}