@media screen and (min-width: 950px) {

    header,
    footer,
    nav,
    main {
        margin-left: 75px;
        margin-right: 75px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    h1 {
        padding-top: 100px;
    }

    img {
        float: left;
        padding: 50px 25px 50px 50px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li a {
        padding: 0px;
        font-size: 1em;
    }

    main {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: repeat(2, 1fr)
    }

    .information {
        grid-column: 1/2;
        grid-row: 2;
        border: solid;
    }

    .activities {
        grid-column: 2/3;
        grid-row: 2;
        border: ridge;
        border-width: 10px;
    }

    .activities ul {
        padding-left: 75px;
        padding-right: 75px;
    }

    h2,
    hr {
        grid-column: 1/3;
        grid-row: 1;
    }

    #menu {
        display: none;
    }

    iframe {
        width: 700px;
    }

    .hero {
        grid-row: 1;
        grid-column: 1/3;
        width: 100%;
        height: auto;
    }

    #overlay {
        left: 300px;
        top: 100px;
    }
}